@model PartsR2.Models.Part

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Part</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quote.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondAvail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondAvail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyAvail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyAvail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exchange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exchange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutrightPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutrightPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JJRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JJRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuePO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuePO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
